.chords {

  margin-top: 20px;

  .chord {

    float: left;
    margin-right: 20px;
    padding: 5px;

    background: #eee;

    .remove {
      float: right;
    }

    &.active {
      background: #fee9b4;
    }

  }

}