.chords {

  margin-top: 20px;

  .chord {

    float: left;
    margin: 0 20px 20px 0;
    padding: 5px;
    background: #eee;

    select{
      font-size: 1.2em;
      border: none;
      margin-bottom: 10px;
      width: auto;
    }

    button{
      padding: 5px 10px;
      font-size: inherit;

      &.play{
        margin-top: 10px;
      }

    }

    .remove {
      float: right;
    }

    &.active {
      background: #fee9b4;
    }

    input[type="checkbox"] {
      @extend .hidden-accessible;

      + label {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;

      }

      &:checked + label {
        font-weight: bold;
        background: $ui-active;
        color: #fff;
      }

    }

    .option {
      float: left;

      &:nth-child(5n+0) {
        clear: both;
      }

    }

  }

  ul.ticks {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    li {
      text-align: center;
      width: 25%;
      display: block;
      float: left;
      height: 10px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        @include border-radius(5px);
        background: #ccc;
      }

      &.active span {
        background: $ui-active;
      }

    }

  }

}