@import url(http://fonts.googleapis.com/css?family=Lato);
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";
@import "compass/css3/transition";
@import "_fonts";
@import "_fretboard";
@import "_chords";

body {
  padding: 20px;
}

.combos {
  margin-top: 20px;

  & li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 40px;

    & button {
      border: none;
      width: 30px;
      height: 30px;
      padding: 0;
      outline: none;
      margin: 0;
      background: #bdc3c7;

      &:hover {
        cursor: pointer;
      }

      &.active {
        background: #3498db;
      }
    }
  }
}

.actions {
  margin-top: 20px;
}

.clear {
  clear: both;
}

.actions {
  button.play {

    span.play {
      display: inline-block;
    }
    span.stop {
      display: none;
    }

    &.playing {
      span.play {
        display: none;
      }
      span.stop {
        display: inline-block;
      }
    }
  }
}