@import url(http://fonts.googleapis.com/css?family=Lato);
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

//@import "compass/css3/transition";

$fretboard-bg: #fee9b4;
$fret-focus: #f6ceab;
$fret-highlight: #e67e22;
$fret-root: #e74c3c;

$ui-active: #3498db;

@import "_fretboard";
@import "_chords";

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.social {
  float: right;
  iframe {
    float: left;
    margin-bottom: 20px;
  }
}

.actions {

  margin: 20px 0;

  button {
    padding: 10px 20px;
    font-size: inherit;
  }

  label {
    display: inline-block;
    margin-top: 10px;
    width: 70px;
    text-align: right;
    margin-right: 20px;
  }

  button.play {
    width: 80px;
    text-align: center;
    margin-right: 10px;

    span.play {
      display: inline-block;
    }
    span.stop {
      display: none;
    }

    &.playing {
      span.play {
        display: none;
      }
      span.stop {
        display: inline-block;
      }
    }
  }

  input[type='range'] {
    margin: 20px 0;
    outline: none;
    -webkit-appearance: none !important;
    background: #eee;
    height: 7px;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: $ui-active;
    height: 22px;
    width: 22px;
    @include border-radius(11px);
  }

}

.clear {
  clear: both;
}

.hidden-accessible {
  position: absolute !important;
  left: -9999px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}