@import url(http://fonts.googleapis.com/css?family=Lato);
@import "foundation/variables";
@import "foundation/components/global";
@import "foundation/components/visibility";
@import "foundation/components/buttons";
@import "foundation/components/reveal";
@import "foundation/components/forms";
@import "compass/reset";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/opacity";

$fretboard-bg: #fee9b4;
$fret-focus: #f6ceab;
$fret-highlight: #e67e22;
$fret-root: #e74c3c;

$ui-active: #2ba6cb;

@import "_fretboard";
@import "_chords";

body {
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

h1 {
  font-size: 2em;
}

h2{
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.wrap {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

.actions {

  margin: 20px 0;

  label {
    display: inline-block;
    margin-top: 10px;
    width: 70px;
    text-align: right;
    margin-right: 20px;
  }

  button.play {
    width: 80px;
    text-align: center;
    margin-right: 10px;

    span.play {
      display: inline-block;
    }
    span.stop {
      display: none;
    }

    &.playing {
      span.play {
        display: none;
      }
      span.stop {
        display: inline-block;
      }
    }
  }

  input[type='range'] {
    margin: 20px 0;
    outline: none;
    -webkit-appearance: none !important;
    background: #eee;
    height: 7px;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: $ui-active;
    height: 22px;
    width: 22px;
    @include border-radius(11px);
  }

}

a, input, button {
  -ms-touch-action: none !important;
}

.clear {
  clear: both;
}

.hidden-accessible {
  position: absolute !important;
  left: -9999px;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

//hover states
.no-touch {
  button:hover {
    cursor: pointer;
    @include opacity(0.7);
  }

  input[type="range"]:hover {
    cursor: pointer;
  }

  .fret:hover {
    cursor: pointer;
    background: $fret-focus !important;
  }

  .chord {

    label:hover {
      background: lighten($ui-active, 40%);
      cursor: pointer;
    }

    select:hover {
      cursor: pointer;
    }

  }

}